<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
    sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CS_ADO_NET"
    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                      AttachDbFilename=E:\Hd Externo\VisualStudio\Projetos\Apostila c-e-visualStudio\SolutionADO_NET\ADO_NETProject01\App_Data\ADO_NETDataBase.mdf;
                      Integrated Security=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>


<!--  
Data Source=(LocalDB)\MSSQLLocalDB;
AttachDbFilename="F:\VisualStudio\Projetos\Apostila c-e-visualStudio\SolutionADO_NET\ADO_NETProject01\App_Data\ADO_NETDataBase.mdf";
Integrated Security=True
-->